{% extends "base.html" %}
{% block title %}Scheduler {% endblock %}

{% block content %}

<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="/scheduler" method="post">
            <div class="mb-3">
                <label for="postContent" class="form-label">What to post</label>
                <textarea class="form-control" id="postContent" name="post_content" style="resize:none;" rows="3"></textarea>
            </div>              
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>

{% endblock %}